.bg-vid { 
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border: none;
  box-sizing: border-box;
}

/* .responsiveWeb{
  display: block;
}

.responsiveMobile{
  display: none;
}

@media only screen and (max-width: 768px) {
  .responsiveWeb {
    display: none;
  }
  .responsiveMobile{
    display: block;
  }
} */